th{background:#333;}
body {background:#000; margin:0; min-width:960px;}
#banner{background-color:dimgrey}
#banner tr th#logo{width:700px}
#banner tr th#logo img{width:750px;height:150px}
#banner tr th#picture img{width:200px;height:150px}
#menu{width:960px;background-color:darkgreen;border-width:1px}
#menu tr{height:26px}
#menu tr th.selected{background-color:#105005}
#menu tr th.selected a{color:darkgray}
#main {margin:20px auto 24px; width:960px}
#header-wrap {position: fixed; top: 0; left: 0; width:100%}
#header-container {height: 260px }
#header-container table { margin:0 auto; position:relative}
#header-container table#menu {margin-top:5px}
#header-container table#banner {margin-top:20px}
#content { margin-top:240px;margin-bottom:100px;color:#F0E68C; font-size:25px }
#footer-container { position:fixed; bottom:0; left:0;width:100%}
#footer table{margin:5px auto 5px; background-color:darkgreen; width:960px}
#footer table tr{background-color:#333;font-size:15px;height:15px}
a {color:#188007}
a:hover {color:#188007}
a:visited {color:#F0E68C}

#footer a {color:#188007; font-weight:700}
#footer a:hover {color:#188007}
#footer a:visited {color:#F0E68C}
.picture img {display:block; margin-left:auto; margin-right:auto; width:720px; height:540px}

.litter .gallery img{display:block;width:300px}
.litter .gallery .caption{text-align:center}
.litter .gallery .col1{float:left;width:300px}
.litter .gallery .col3{float:right;width:300px}
.litter .gallery .col2{padding:0 320px 0 320px}

.cat{clear:both}
.cat .gallery{float:left;width:460px;margin:0;padding:0}
.cat .gallery ul{list-style:none;display:block;margin:20px 0 0 0;padding:0;height:200px}
.cat .gallery li{display:block;float:left;margin-left:20px;padding:0}
.cat .gallery li:first-child{margin-left:0}
.cat .bio {float:right;width:460px;margin:0;padding:0}
.cat .bio h1{margin-top:0;padding-top:0}
.cat .bio ul{list-style:none;margin:0;padding:0}
.cat .bio .label{font-weight:700}	

#galleria{width:940px;height:350px;background:#000;margin:0;padding:0}
