th{background:#333;}
body {background:#000; margin:0; min-width:960px;}
div#main {margin:20px auto 24px; width:960px}
div#header-wrap {position: fixed; top: 0; left: 0; width:100%}
div#header-container {height: 260px }
div#header-container table { margin:0 auto; position:relative}
div#header-container table#menu {margin-top:5px}
div#header-container table#banner {margin-top:20px}
div#content { padding-top:200px;color:#F0E68C; font-size:25px }
div#footer-container { position:fixed; bottom:0; left:0;width:100%}
div#footer-container div#footer table{margin:5px auto 5px; background-color:darkgreen; width:960px}
a {color:#188007}
a:hover {color:#188007}
a:visited {color:#F0E68C}
div.picture img {display:block; margin-left:auto; margin-right:auto; width:720px; height:540px}